<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" (click)="master.showLogin=false;master.showSearch=true;">Search</a>
      <a class="nav-item nav-link" (click)="master.showLogin=true;" href="#">{{ master.state }}</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <login-dialog *ngIf="master.showLogin && !master.loggedIn" [master]="master"></login-dialog>
    <profile-page *ngIf="master.showLogin && master.loggedIn" [master]="master"></profile-page>
    <search-page *ngIf="master.showSearch" [master]="master"></search-page>



  </div>
</div>
